{% extends 'base.html' %}

{% block title %}User Page{% endblock %}

{% block content %}

  <h1 class="display-4">Welcome, {{ user.first_name }}</h1>

  <ul>
    <li>Username: {{ user.username }}</li>
    <li>Name: {{ user.first_name }} {{ user.last_name }}</li>
    <li>Email: {{ user.email }}</li>
  </ul>

  {% for note in user.notes %}

    <h4>{{ note.title }}</h4>
    <p>{{ note.content }}</p>

    <form>
      {{form.hidden_tag()}}
      <button
      formaction="/notes/{{ note.id }}/update"
      formmethod="GET">
        edit
      </button>
      <button
      formaction="/notes/{{ note.id }}/delete"
      formmethod="POST">
        delete
      </button>
    </form>

  {% endfor %}

  <a href="/users/{{ user.username }}/notes/add">
    <button>add a note</button>
  </a>

  <form action="/users/{{ user.username }}/delete" method="POST">
    {{form.hidden_tag()}}
    <button>
      Delete Account
    </button>
  </form>

  <form action="/logout" method="POST">
    {{form.hidden_tag()}}
    <button
    type="submit"
    class="btn btn-primary">
      Logout
  </button>
  </form>

{% endblock %}